html {
  font-size: 62.5%;
}

body {
  @include fz($fz-base);
  line-height: $lh-base;
  background-color: $color-bg--exlight;
  font-family: $ff-base;
  position: relative;
  color: $color-font;
  &.is-fixed {
    position: fixed;
    width: 100%;
  }
}

// テキストリンク
a {
  color: $color-font--link;
  text-decoration: underline;
  &:hover {
    text-decoration: underline;
  }
  img {
    width: 100%;
    height: auto;
  }
}

// ボタン
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

// テキスト
h1,h2,h3,h4,h5,h6,dt {
  font-weight: 600;
}
p {
  @include fz($fz-base);
  margin: $siteGutter-sm 0 !important;
  line-height: $lh-base;
  color: $color-font;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

em, i {
  font-style: normal;
}

// プレースホルダー
input:focus::placeholder {
  color: transparent;
}
textarea:focus::placeholder {
  color: transparent;
}

// #{$prj-ns}-root {
//   width: 100%;
//   font-size: $fz-base;
//   line-height: $lh-base;
//   color: $color-font;
// }
