// Header
#{$prj-ns}-header {
  background-color: $color-bg--exlight;
  position: relative;
  z-index: $z-dropdown;
  &__lead {
    @include fz($fz-sm);
    display: flex;
    justify-content: center;
    padding: $siteGutter-sm;
    background-color: $color-bg--secondary;
  }
  &-logo {
    @include txt-hidden;
    display: block;
    margin: 0 $siteGutter;
    float: left;
    width: 135px;
    height: 50px;
    background: url('/images/btn_hokatsuNavi.svg') 50% 50% no-repeat;
    background-size: contain;
  }
  &-nav {
    display: block;
    width: 100%;
    height: 50px;
    background-color: $color-bg--exlight;
    &__inner {
      display: block;
      height: 50px;
      // overflow: hidden;
      box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.25);
      position: relative;
      z-index: $z-dropdown;
    }
    &::after {
      content: '';
      clear: both;
      display: table;
    }
    &.is-fixed {
      margin: auto;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.25);
    }
  }
  &-func {
    display: table;
    height: 100%;
    float: right;
  }
  &__btn {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    &::before {
      content: '';
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 2px;
      height: 100%;
      background-color: $color-bg--light;
    }
  }
  &-icon {
    &--look,
    &--menu {
      display: block;
      img {
        @include image-responsive;
        max-height: 42px;
      }
      
    }
    &--badge {
      @include fz($fz-sm);
      display: inline-block;
      padding: $siteGutter-sm /2;
      margin: auto;
      position: absolute;
      bottom: 15px;
      right: 0;
      color: $color-font--navy;
      border-radius: 10px;
      background-color: $color-bg--secondary;
    }
  }
}

// Header Map NON0005
#{$prj-ns}-header-fixed {
  padding: $siteGutter;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: $color-bg--exlight;
  box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.25);
  z-index: $z-menu-base;
}

// GN
#{$prj-ns}-header-nav {
  &__global {
    display: none;
    width: 100%;
  }
  &__list {
    display: block;
    width: 100%;
    background-color: $color-bg--light;
  }
  &__item {
    display: block;
    width: 100%;
    border-bottom: 1px solid $color-border;
    &-inner {
      display: none;
      background-color: $color-bg--exlight;
      border-top: 1px solid $color-border;
    }
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 42px;
    text-align: center;
    text-decoration: none;
  }
  &-child {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    &__heading {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 42px;
      text-align: center;
      text-decoration: none;
      position: relative;
      &.is-active {
        #{$prj-ns}-icon-carret__bottom {
          transform: rotate(-90deg);
        }
      }
      #{$prj-ns}-icon-carret__bottom {
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 10px;
      }
    }
    &__item {
      display: block;
      width: 50%;
      border-top: 1px solid $color-border;
      &:nth-child(odd) {
        border-right: 1px solid $color-border;
      }
      &:first-child {
        border-top-width: 0;
      }
      &:nth-child(2) {
        border-top-width: 0;
      }
    }
  }
}