// Accordion
#{$prj-ns}-accordion {
  width: 100%;
  &-list {
    &__item {
      margin: $siteGutter 0;
      border: 1px solid $color-border;
    }
  }
  &__title {
    display: flex;
    padding: $siteGutter $siteGutter 0;
    width: 100%;
    position: relative;
    text-decoration: none;
    &.is-active {
      #{$prj-ns}-icon-carret__top {
        transform: rotate(90deg);
      }
    }
  }
  &__text {
    display: block;
    padding-left: $siteGutter-lg;
    padding-bottom: $siteGutter;
    width: 100%;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 5px;
      width: 12px;
      height: 15px;
      background: url('/images/ico_q.svg') 50% 50% no-repeat;
      background-size: contain;
    }
    .is-active &{
      border-bottom: 1px dotted $color-border;
      &::before {
        background: url('/images/ico_q-active.svg') 50% 50% no-repeat;
        background-size: contain;
      }
    }
  }
  &__body {
    display: none;
    padding: $siteGutter $siteGutter $siteGutter $siteGutter-lg*2;
    width: 100%;
    background-color: $color-bg-active;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 20px;
      left: 25px;
      width: 12px;
      height: 15px;
      background: url('/images/ico_a.svg') 50% 50% no-repeat;
      background-size: contain;
    }
  }
}