// Block
#{$prj-ns}-block {
  &-active {
    background-color: $color-bg-active;
    &:last-of-type {
      margin-bottom: $siteGutter;
    }
    &--top {
      @extend #{$prj-ns}-block-active;
      padding-top: $siteGutter-md*2 !important;
    }
    &__outer {
      margin-top: $siteGutter-lg*3;
      position: relative;
      &:first-of-type {
        margin-top: $siteGutter-lg*2;
      }
    }
    &--light {
      @extend #{$prj-ns}-block-active;
      margin-top: $siteGutter-lg;
      background-color: $color-bg-active--light;
      &:first-of-type {
        padding-top: 0;
      }
    }
    &--radius {
      @extend #{$prj-ns}-block-active;
      border-radius: $rds-base;
    }
  }
  &-point {
    @extend #{$prj-ns}-block-active--radius;
    margin: $siteGutter 0;
    background-color: $color-bg--secondary;
  }
  // 最近見た保育園一覧
  &-nursery {
    padding: $siteGutter;
    border-bottom: 1px solid $color-border;
    &__heading {
      display: table;
      width: 100%;
    }
    &__icon {
      display: table-cell;
      vertical-align: middle;
      width: 21px;
      height: 24px;
      background: url('../../images/ico_tag.svg') 50% 50% no-repeat;
      background-size: contain;
      &.is-active {
        background: url('../../images/ico_tag-active.svg') 50% 50% no-repeat;
        background-size: contain;
      }
    }
    &__school {
      display: table-cell;
      vertical-align: middle;
      padding-right: $siteGutter-md;
      color: $color-font;
      text-decoration: none;
    }
    &__body {
      display: flex;
      align-items: flex-start;
      padding-top: $siteGutter;
      margin-top: $siteGutter;
      width: 100%;
      border-top: 1px dotted $color-border-main;
    }
    &__image {
      display: block;
      margin-right: $siteGutter-md;
      width: 100%;
      max-width: 100px;
      height: auto;
      img {
        @include image-responsive;
      }
    }
    &__status {
      @include fz($fz-sm);
      display: block;
      color: $color-font--dark;
      text-decoration: none;
      line-height: $lh-md;
    }
  }
  // おすすめ記事
  &-recommend {
    &__item {
      display: table;
      width: 100%;
      padding: $siteGutter;
      text-decoration: none;
      border-bottom: 1px solid $color-border;
    }
    &__image {
      display: table-cell;
      vertical-align: top;
      width: 80px;
      height: 80px;
      img {
        @include image-responsive;
      }
    }
    &__body {
      display: table-cell;
      vertical-align: top;
      padding: 0 $siteGutter;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        width: 20px;
        height: 20px;
        background: url('../../images/img_sign.svg') 50% 50% no-repeat;
        background-size: contain;
      }
    }
    &__date {
      @include fz($fz-sm);
    }
    &__title {
    }
  }
  // 広告カルーセル
  &-ad {
    padding: $siteGutter;
    margin: $siteGutter-lg 0;
    border: 2px solid $color-border;
    background-color: $color-bg--light;
    &__heading {
      @include fz($fz-xl);
      padding: $siteGutter $siteGutter-md*2;
      margin-bottom: $siteGutter;
      color: $color-font;
      border-bottom: 2px solid $color-border-sub;
      background-color: $color-bg--exlight;
      i {
        margin: 0 $siteGutter;
      }
    }
    &-list {
      width: 100%;
      // overflow: hidden;
      &__item {
        display: inline-block;
        vertical-align: middle;
        padding: 0 $siteGutter-sm;
      }
      &__body {
        text-decoration: none;
      }
      &__image {
        img {
          @include image-responsive;
        }
      }
      &__text {
        margin-top: $siteGutter;
        color: $color-font--dark;
      }
    }
    .slick-arrow,
    .slick-next,
    .slick-prev {
      margin: auto;
      width: 22px;
      height: 44px;
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: $z-menu-base - 1000;
    }
    .slick-next,
    .slick-prev {
      &::before {
        content: "";
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 22px;
        height: 44px;
      }
    }
    .slick-next {
      right: -10px;
      background: url('../../images/btn_pink-next.svg') 50% 50% no-repeat;
      background-size: contain;
    }
    .slick-prev {
      left: -10px;
      background: url('../../images/btn_pink-prev.svg') 50% 50% no-repeat;
      background-size: contain;
    }
  }
  // 施設詳細ページ大分類カテゴリ
  &-category {
    margin: $siteGutter-lg 0;
    #{$prj-ns}-block-active__outer &{
      margin: 0;
    }
    &__heading {
      display: table;
      margin-bottom: $siteGutter;
      width: 100%;
    }
    &__icon {
      display: table-cell;
      vertical-align: middle;
      width: 21px;
      height: 24px;
      background: url('../../images/ico_tag.svg') 50% 50% no-repeat;
      background-size: contain;
      &.is-active {
        background: url('../../images/ico_tag-active.svg') 50% 50% no-repeat;
        background-size: contain;
      }
    }
    &__school {
      display: table-cell;
      vertical-align: middle;
      padding-right: $siteGutter-md;
      color: $color-font;
      text-decoration: none;
    }
    &__item {
      padding: $siteGutter-lg 0;
      border-top: 1px dotted $color-border-main;
      #{$prj-ns}-block-active__outer &{
        border-top-width: 0;
        border-bottom: 1px dotted $color-border-main;
      }
      &:last-child {
        border-bottom: 1px dotted $color-border-main;
        #{$prj-ns}-block-active__outer &{
          border-bottom-width: 0;
        }
      }
    }
    &__body {
      margin-bottom: $siteGutter-lg;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &-detail {
    margin: $siteGutter 0 $siteGutter-lg;
    &__item {
      padding: $siteGutter 0;
      border-top: 1px dotted $color-border;
      &:last-child {
        border-bottom: 1px dotted $color-border;
      }
    }
    &__icon {
      float: right;
    }
  }
}