// Button
#{$prj-ns}-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $siteGutter $siteGutter-sm;
  width: 100%;
  min-height: 50px;
  border-radius: $rds-base;
  text-align: center;
  text-decoration: none;
  color: $color-font;
  background-color: $color-button;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 5px;
    width: 20px;
    height: 20px;
    background: url('../../images/img_sign.svg') 50% 50% no-repeat;
    background-size: contain;
  }
  &:hover {
    text-decoration: none;
  }
  &[disabled],
  &.is-disabled {
    color: $color-font--exlight;
    background-color: $color-button-disable;
    pointer-events: none;
    outline: none;
    &::after {
      background: url('../../images/img_sign-exlight.svg') 50% 50% no-repeat;
      background-size: contain;
    }
  }
  // 矢印無しボタン
  &--default {
    @extend #{$prj-ns}-btn;
    color: $color-font--navy;
    background-color: $color-button--exlight;
    border: 1px solid $color-border;
    &::after {
      content: none;
    }
    &.is-active {
      color: $color-font--exlight;
      background-color: $color-button-third;
    }
  }
  &--primary {
    @extend #{$prj-ns}-btn;
    color: $color-font--button;
    background-color: $color-theme-main;
  }
  &--secondary {
    @extend #{$prj-ns}-btn;
    color: $color-font--button;
    background-color: $color-button-secondary;
  }
  &--third {
    @extend #{$prj-ns}-btn;
    color: $color-font--exlight;
    background-color: $color-button-third;
    &::after {
      background: url('../../images/img_sign-exlight.svg') 50% 50% no-repeat;
      background-size: contain;
    }
    &-no-arrow {
      @extend #{$prj-ns}-btn--third;
      &::after {
        content: none;
      }
    }
  }
  // iconが上に乗っかってるボタン
  &-icon {
    @extend #{$prj-ns}-btn;
    flex-flow: column wrap;
    &__area {
      display: block;
    }
    &__text {
      display: block;
    }
    &--default {
      @extend #{$prj-ns}-btn-icon;
      color: $color-font--navy;
      background-color: $color-button--exlight;
      border: 1px solid $color-border;
      &::after {
        content: none;
      }
      &.is-active {
        background-color: $color-button-third;
      }
    }
    &--primary {
      @extend #{$prj-ns}-btn-icon;
      color: $color-font--button;
      background-color: $color-theme-main;
    }
    &--secondary {
      @extend #{$prj-ns}-btn-icon;
      color: $color-font--button;
      background-color: $color-button-secondary;
    }
    &--third {
      @extend #{$prj-ns}-btn-icon;
      color: $color-font--exlight;
      background-color: $color-button-third;
      &-no-arrow {
        @extend #{$prj-ns}-btn--third;
        &::after {
          content: none;
        }
      }
    }
  }
  // 横が角丸ボタン
  &-radius {
    @extend #{$prj-ns}-btn;
    border-radius: 50px;
    &--primary {
      @extend #{$prj-ns}-btn-radius;
      color: $color-font--button;
      background-color: $color-theme-main;
    }
    &--secondary {
      @extend #{$prj-ns}-btn-radius;
      color: $color-font--button;
      background-color: $color-button-secondary;
    }
    &--third {
      @extend #{$prj-ns}-btn-radius;
      color: $color-font--exlight;
      background-color: $color-button-third;
    }
    &[disabled],
    &.is-disabled {
      color: $color-font--dark;
      background-color: $color-button-disable;
      pointer-events: none;
      outline: none;
    }
  }
}