// Button
#{$prj-ns}-btn {
  display: inline-block;
  padding: $siteGutter-lg $siteGutter-sm;
  width: 100%;
  border-radius: $rds-base;
  text-align: center;
  text-decoration: none;
  color: $color-font;
  background-color: $color-button;
  &:hover {
    text-decoration: none;
  }
  &[disabled],
  &.is-disabled {
    color: $color-font--dark;
    background-color: $color-button-disable;
    pointer-events: none;
    outline: none;
  }
  &--primary {
    @extend #{$prj-ns}-btn;
    color: $color-font--button;
    background-color: $color-theme-main;
  }
  &--secondary {
    @extend #{$prj-ns}-btn;
    color: $color-font--button;
    background-color: $color-button-secondary;
  }
  &-radius {
    @extend #{$prj-ns}-btn;
    border-radius: 50px;
    &--primary {
      @extend #{$prj-ns}-btn-radius;
      color: $color-font--button;
      background-color: $color-theme-main;
    }
    &--secondary {
      @extend #{$prj-ns}-btn-radius;
      color: $color-font--button;
      background-color: $color-button-secondary;
    }
    &[disabled],
    &.is-disabled {
      color: $color-font--dark;
      background-color: $color-button-disable;
      pointer-events: none;
      outline: none;
    }
  }
}