// Carousel
#{$prj-ns}-carousel {
  @include flatten;
  width: 100%;
  overflow: hidden;
  &__item {
    display: inline-block;
    width: 100%;
    img {
      @include image-responsive;
    }
  }
  .slick-arrow,
  .slick-next,
  .slick-prev {
    margin: auto;
    width: 27px;
    height: 44px;
    position: absolute;
    top: 50%;
    z-index: $z-menu-base - 1;
  }
  .slick-next,
  .slick-prev {
    &::before {
      content: "";
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 27px;
      height: 44px;
    }
  }
  .slick-next {
    right: 0;
    background: url('/images/btn_grey-next.svg') 50% 50% no-repeat;
    background-size: contain;
  }
  .slick-prev {
    left: 0;
    background: url('/images/btn_grey-prev.svg') 50% 50% no-repeat;
    background-size: contain;
  }
  .slick-dots {
    margin: auto;
    position: absolute;
    top: auto;
    bottom: 10px;
    z-index: $z-menu-base - 1;
    li {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      &.slick-active {
        background-color: $color-border--exlight;
      }
      button {
        width: 10px;
        height: 10px;
        border: 2px solid $color-border--exlight;
        border-radius: 50%;
        .slick-active &{
          &::before {
            background-color: $color-bg--exlight;
            opacity: 1;
          }
        }
        &::before {
          content: "";
          margin: auto;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          opacity: 0;
        }
      }
    }
  }
}