// Form
#{$prj-ns}-form {
  display: block;
  width: 100%;
  position: relative;
  // フリーワード検索ボックス
  &-search {
    &__textbox {
      padding: $siteGutter;
      width: 100%;
      border-radius: $rds-base;
      border: 2px solid $color-border;
      &::placeholder {
        color: $color-font--light;
      }
    }
    &__button {
      @include txt-hidden;
      position: absolute;
      padding: $siteGutter;
      margin: auto;
      width: 44px;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: $color-bg;
      border: 2px solid $color-border;
      border-left-width: 0;
      border-radius: $rds-base;
      cursor: pointer;
      outline: none;
      appearance: none;
      &::after {
        content: '';
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 20px;
        height: 20px;
        background: url('https://dummyimage.com/20x20/000/808080.png&text=dummy') 50% 50% no-repeat;
        background-size: contain;
      }
    }
  }
  // チェックボックス
  &-select {
    padding: $siteGutter 0;
    margin: $siteGutter 0;
    border-top: 1px dotted $color-border-main;
    &__label {
      display: block;
      padding: $siteGutter-md;
      width: 100%;
      border-bottom: 1px solid $color-border;
      background-color: $color-bg--exlight;
      &.is-checked {
        background-color: $color-bg-active;
      }
    }
    &__check {
      display: none;
      &:checked + #{$prj-ns}-form-select__text::after {
        background: url('https://dummyimage.com/18x9/000/808080.png&text=dummy') 50% 50% no-repeat;
        background-size: contain;
      }
    }
    &__text {
      padding-left: $siteGutter-md*2;
      position: relative;
      &::before,
      &::after {
        content: '';
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
      }
      &::before {
        display: block;
        width: 20px;
        height: 20px;
        border: 1px solid $color-border;
        border-radius: $rds-base;
      }
      &::after {
        display: block;
        width: 18px;
        height: 18px;
      }
    }
  }
  
}