// Icon
#{$prj-ns}-icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: $siteGutter-sm;
  width: 16px;
  height: 16px;
  &:first-child {
    margin-left: 0;
  }
  &-carret {
    @extend #{$prj-ns}-icon;
    background: url('/images/img_sign.svg') 50% 50% no-repeat;
    background-size: contain;
    &--sm {
      @extend #{$prj-ns}-icon-carret;
      width: 14px;
      height: 14px;
    }
    &--lg {
      @extend #{$prj-ns}-icon-carret;
      width: 18px;
      height: 18px;
    }
    &__top {
      @extend #{$prj-ns}-icon-carret;
      transform: rotate(-90deg);
    }
  }
  // 現在地から探すの大きいアイコン
  &-here {
    @extend #{$prj-ns}-icon;
    width: 13px;
    height: 19px;
    background: url('/images/ico_map.svg') 50% 50% no-repeat;
    background-size: contain;
  }
  // 小さいアイコン
  &-pin {
    @extend #{$prj-ns}-icon;
    width: 13px;
    height: 19px;
    background: url('/images/ico_map.svg') 50% 50% no-repeat;
    background-size: contain;
  }
  &-external {
    @extend #{$prj-ns}-icon;
    width: 15px;
    height: 15px;
    background: url('/images/ico_external.svg') 50% 50% no-repeat;
    background-size: contain;
  }
  &-tel {
    @extend #{$prj-ns}-icon;
    width: 15px;
    height: 15px;
    background: url('/images/ico_phone.svg') 50% 50% no-repeat;
    background-size: contain;
  }
  &-loupe {
    @extend #{$prj-ns}-icon;
    width: 30px;
    height: 30px;
    background: url('/images/ico_japan.svg') 50% 50% no-repeat;
    background-size: contain;
    &--search {
      @extend #{$prj-ns}-icon-loupe;
      background: url('/images/ico_search.svg') 50% 50% no-repeat;
      background-size: contain;
    }
  }
  &-train {
    @extend #{$prj-ns}-icon;
    width: 30px;
    height: 30px;
    background: url('/images/ico_train.svg') 50% 50% no-repeat;
    background-size: contain;
  }
  &-point {
    @extend #{$prj-ns}-icon;
    width: 40px;
    height: 40px;
    background: url('/images/ico_point.svg') 50% 50% no-repeat;
    background-size: contain;
  }
  &-pen {
    @extend #{$prj-ns}-icon;
    width: 30px;
    height: 30px;
    background: url('/images/ico_pen.svg') 50% 50% no-repeat;
    background-size: contain;
  }
}