// Label
#{$prj-ns}-label {
  @include fz($fz-sm);
  display: inline-block;
  vertical-align: middle;
  padding: $siteGutter-md /2;
  color: $color-font--exlight;
  line-height: $lh-sm;
  text-align: center;
  background-color: $color-bg-label;
  position: relative;
  .column &{
    width: 100%;
  }
  &--disabled {
    @extend #{$prj-ns}-label;
    color: $color-font;
    background-color: $color-bg--dark;
  }
  &--primary {
    @extend #{$prj-ns}-label;
    background-color: $color-bg-label--primary;
  }
  &--secondary {
    @extend #{$prj-ns}-label;
    background-color: $color-bg-label--secondary;
  }
  &--third {
    @extend #{$prj-ns}-label;
    background-color: $color-bg-label--third;
  }
}