// List
#{$prj-ns}-list {
  &__item {
    display: block;
    margin: 0 0 $siteGutter-md*2;
    width: 100%;
    &:last-child {
      margin: 0;
    }
  }
  &-heading {
    &__text {
      display: block;
      padding-left: $siteGutter-lg;
      margin: $siteGutter-lg 0;
      color: $color-font;
      text-decoration: none;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        width: 9px;
        height: 16px;
        background: url('../../images/img_sign.svg') 50% 50% no-repeat;
        background-size: contain;
      }
      &:hover {
       text-decoration: none; 
      }
    }
  }
  &-child {
    padding-left: $siteGutter-lg;
    &__item {
    }
    &__link {
      @extend #{$prj-ns}-list-heading__text;
    }
  }
}

// List-style
#{$prj-ns}-list {
  &--circle {
    padding-left: 1.5em;
    // list-style-type: disc;
    &__item {
      margin: 0 0 $siteGutter-sm;
      position: relative;
      &::before {
        content: '・';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 10px;
      }
      &:last-child {
        margin: 0;
      }
    }
  }
  &--numbering {
    display: block;
    &__item {
      display: table;
      vertical-align: top;
      margin: $siteGutter-sm 0;
      &:last-child {
        margin: 0;
      }
    }
    &__head {
      display: table-cell;
      vertical-align: top;
      color: $color-font--navy;
      font-weight: bold;
    }
    &__head {
      display: table-cell;
      vertical-align: top;
    }
  }
}