// Table
#{$prj-ns}-table {
  display: table;
  margin: $siteGutter 0;
  width: 100%;
  color: $color-font--dark;
  border-collapse: collapse;
  &__heading {
    background-color: $color-bg--exlight !important;
    font-weight: bold;
    position: relative;
    &::before {
      content: '';
      margin: auto;
      width: 4px;
      height: 20px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      background-color: $color-bg-label;
    }
  }
  &__title {
    background-color: $color-bg--dark !important;
    &-sub {
      background-color: $color-bg-active--dark !important;
    }
  }
  tr {
    border: 1px solid $color-border;
    &#{$prj-ns}-table__heading--no-border {
      border: 0;
    }
    &:nth-child(odd) {
      td {
        &:nth-child(odd) {
          background-color: $color-bg-active;
        }
        &:nth-child(even) {
          background-color: $color-bg--light;
        }
      }
    }
    &:nth-child(even) {
      td {
        &:nth-child(odd) {
          background-color: $color-bg-active;
        }
        &:nth-child(even) {
          background-color: $color-bg--exlight;
        }
      }
    }
  }
  th {
    vertical-align: middle;
    padding: $siteGutter;
    font-weight: normal;
    text-align: left;
    border-left: 1px solid $color-border;
    &:nth-child(odd) {
      background-color: $color-bg-active;
    }
    &:first-child {
      border-left-width: 0;
    }
  }
  td {
    vertical-align: middle;
    padding: $siteGutter;
    border-left: 1px solid $color-border;
    &:first-child {
      border-left-width: 0;
    }
  }
  &-cell {
    &--sm {
      width: 15%;
    }
  }
}

// th付きのテーブル
#{$prj-ns}-table--with-heading {
  @extend #{$prj-ns}-table;
  th {
    padding: $siteGutter;
    font-weight: normal;
    text-align: left;
    border-left: 1px solid $color-border;
    &:nth-child(odd) {
      background-color: $color-bg-active;
    }
    &:first-child {
      border-left-width: 0;
    }
  }
  tr {
    border: 1px solid $color-border;
    &:nth-child(odd) {
      td {
        &:nth-child(odd) {
          background-color: $color-bg-active;
        }
        &:nth-child(even) {
          background-color: $color-bg--exlight;
        }
      }
    }
    &:nth-child(even) {
      td {
        &:nth-child(odd) {
          background-color: $color-bg-active;
        }
        &:nth-child(even) {
          background-color: $color-bg--light;
        }
      }
    }
  }
  td {
    padding: $siteGutter;
    border-left: 1px solid $color-border;
    &:first-child {
      border-left-width: 0;
    }
  }
}