// Text
#{$prj-ns}-text {
  &-link {
    display: inline-block;
    margin: 0 $siteGutter-sm;
    color: $color-font--link;
    &:first-child,
    &:last-child {
      margin: 0;
    }
  }
  &-info {
    color: $color-font--info;
  }
  &-notice {
    color: $color-font--notice;
  }
  &-bold {
    font-weight: bold;
  }
  &-detail {
    @include fz(16);
    font-weight: bold;
    color: $color-font--dark;
    &--link {
      @extend #{$prj-ns}-text-detail;
      color: $color-font--link;
      text-decoration: none;
    }
  }
}