// Text
#{$prj-ns}-text {
  @include fz($fz-sm);
  &-link {
    display: inline-block;
    margin: 0 $siteGutter-sm;
    color: $color-font--link;
    line-height: $lh-md;
    &:first-child,
    &:last-child {
      margin: 0;
    }
  }
  &-info {
    color: $color-font--info;
  }
  &-notice {
    color: $color-font--notice;
  }
  &-bold {
    font-weight: bold;
  }
  &-detail {
    font-weight: bold;
    color: $color-font--dark;
    &--link {
      @extend #{$prj-ns}-text-detail;
      color: $color-font--link;
      text-decoration: none;
    }
  }
  &-table {
    display: flex;
    width: 100%;
    &:last-child {
      margin-bottom: 0;
    }
    &__heading {
      display: inline-block;
      vertical-align: top;
      padding-right: $siteGutter;
      width: 40%;
    }
    &__body {
      display: inline-block;
      vertical-align: top;
      font-weight: bold;
      width: 60%;
    }
  }
}