// Title
#{$prj-ns}-title {
  &-level1 {
    @include fz($fz-xl);
    margin: $siteGutter-lg 0;
  }
  &-level2 {
    @include fz($fz-xl);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: $siteGutter;
    margin: $siteGutter-lg 0;
    border-bottom: 2px solid $color-border-main;
  }
  &-level3 {
    @include fz(16);
    margin: $siteGutter 0;
    &--emphasis {
      @extend #{$prj-ns}-title-level3;
      color: $color-font--button;
    }
  }
  &-level4 {
    @include fz($fz-md);
    margin: $siteGutter 0;
  }  
  &-text {
    display: inline-block;
  }
  &-label {
    @include fz($fz-sm);
    display: inline-block;
    vertical-align: middle;
    padding: $siteGutter-sm $siteGutter-lg;
    text-align: center;
    text-decoration: none;
    color: $color-font--button;
    background-color: $color-bg-active;
    border-radius: 20px;
  }
}