// Title
#{$prj-ns}-title {
  &-level1 {
    @include fz($fz-xl);
    margin: $siteGutter-lg 0;
  }
  &-level2 {
    @include fz($fz-xl);
    display: flex;
    align-items: center;
    padding-bottom: $siteGutter;
    margin: $siteGutter-lg 0;
    width: 100%;
    border-bottom: 2px solid $color-border-main;
    position: relative;
    &::after {
      content: '';
      clear: both;
      display: table;
    }
  }
  &-level3 {
    @include fz($fz-md);
    margin: $siteGutter 0;
    &--emphasis {
      @extend #{$prj-ns}-title-level3;
      color: $color-font--navy;
    }
  }
  &-level4 {
    @include fz($fz-sm);
    margin: $siteGutter 0;
  }  
  &-text {
    display: inline-block;
    vertical-align: middle;
  }
  &-label {
    @include fz($fz-sm);
    display: inline-block;
    vertical-align: middle;
    padding: $siteGutter-sm $siteGutter-lg;
    text-align: center;
    text-decoration: none;
    color: $color-font--button;
    background-color: $color-bg-active;
    border-radius: 20px;
    position: absolute;
    right: 0;
  }
  &-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: $siteGutter-sm;
    width: 20px;
    height: 15px;
    line-height: 0;
    img{
      @include image-responsive;
    }
  }
  &-area {
    margin: auto;
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 300px;
    &__text {
      @include fz($fz-lg);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: $siteGutter;
      margin: auto;
      width: 100%;
      font-weight: bold;
      color: $color-font--navy;
      background-color: $color-bg-active;
      position: relative;
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
      }
      &::before {
        left: 0;
        border-width: 20px 20px 0 0;
        border-color: $color-bg--exlight transparent transparent transparent;
      }
      &::after {
        right: 0;
        border-width: 0 20px 20px 0;
        border-color: transparent $color-bg--exlight transparent transparent;
      }
    }
  }
}