// Tooltip
#{$prj-ns}-tooltip {
  margin: auto !important;
  max-width: 200px;
  left: 0;
  right: 0;
  &--top {
    #bns &{
      margin: auto !important;
      max-width: 200px;
      left: 0;
      right: 0;
    }
  }
  &--bottom {
    #bns &{
      margin: auto !important;
      max-width: 200px;
      left: 0;
      right: 0;
      top: 80% !important;
    }
  }
}