// Tooltip
#{$prj-ns}-tooltip {
  padding: $siteGutter $siteGutter-lg;
  margin: auto !important;
  max-width: 185px;
  left: 0;
  right: 0;
  background-color: $color-bg--secondary;
  &::before {
    background-color: $color-bg--secondary;
  }
  &-btn {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -10px;
    right: -10px;
    background: url('/images/ico_close.svg') 50% 50% no-repeat;
    background-size: contain;
  }
  #{$prj-ns}-text {
    text-align: left;
  }
  &--top {
    #bns &{
      @extend #{$prj-ns}-tooltip;
      top: -100% !important;
    }
  }
  &--bottom {
    #bns &{
      @extend #{$prj-ns}-tooltip;
      top: 80% !important;
    }
  }
}